# Ignore Python virtual environment
venv/
.env
*.pyc
__pycache__/

# Ignore AWS SAM build files
.aws-sam/
samconfig.toml

# Ignore logs & temporary files
*.log
*.tmp
.DS_Store

# Ignore VS Code settings (optional)
.vscode/
